<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fatal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Fatal.Properties.Settings>
            <setting name="Text1" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text2" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text3" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text4" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text5" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text6" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text7" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text8" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text9" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text10" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text11" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="Text12" serializeAs="String">
                <value>0,0</value>
            </setting>
        </Fatal.Properties.Settings>
    </userSettings>
</configuration>